body{
    margin:0;
    padding: 20px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}

.innerbox{
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 4px 4px 10px white;
}

button{
    border-radius: 20px;
    background-color: white;
}

input,textarea{
    border-radius: 10px;
    background-color: white;
    height:30px;
}

.outerbox{
    align-items: center;
    justify-content: center;
}

.top{
    border-radius: 30px;
    border:1px solid white;
    box-shadow: 4px 4px 10px white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:1100px;
    background: radial-gradient(30deg, navy, black,navy);
}

.subdiv{
 display: flex;
 flex-direction: row;
 gap:50px;
}

.bodycont{display: flex;flex-direction: column;margin: 20px;padding: 20px; box-shadow: 4px 4px 10px white;justify-content: center;align-items: center;}

a{text-decoration: none;color: white;}

ul{list-style: none;display: flex;flex-direction: row;gap:20px;}

.notesgrid{display: grid; grid-template-columns: repeat(3,1fr);}

.gridbox{
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 4px 4px 10px white;
}

.bodycontu{display: flex;flex-direction: column;margin: 20px;padding: 20px; box-shadow: 4px 4px 10px white;justify-content: center;}

.btn:hover{
    transform: scale(1.7);
}

.btn{
    padding: 5px;
    margin:20px;
}

h1{
    text-wrap: nowrap;
    word-wrap: nowrap;
}

button{
    border-radius: 10px;
    border: 1px solid white;
    color:white;
    background-color: black;
    padding: 5px;
    margin:30px;
    height:40px;
    width:50px;
}