<html>
    <head>
        <title>No Login</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="top" >
        <div class="leftu">
            <h1>My Notes</h1>
        </div>
        <div class="rightu">
            <ul>
                <li><a href="{{url_for('inputpg')}}">Write</a></li>
                <li><a href="{{url_for('contentspg')}}">Read</a></li>
                </ul>
        </div>
       </div> 

       <div class="bodycont">
        <form method="POST" action="{{url_for('inputpg')}}">
            <h2>Title</h2>
         <input type="text" name="name" placeholder="Title" required>
         <h2>Date</h2>
         <input type="date" name="date">
         <h2>Category</h2>
         <input type="text" name="category" placeholder="Category">
            <h2>Write a Note...</h2>
         <textarea type="text" name="content" style="height: 400px;width:1000px;"></textarea>
         <br>
         <button type="submit">Save</button>
         </form>
       </div>
    </body>
</html>