<html>
    <head>
        <title>No Login</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
       <div class="top" >
        <div class="leftu">
            <h1>My Notes</h1>
        </div>
        <div class="rightu">
            <ul>
                <li><a href="{{url_for('inputpg')}}">Write</a></li>
                <li><a href="{{url_for('contentspg')}}">Read</a></li>
                </ul>
        </div>
       </div> 

       
    </body>
</html>